.bg-header{
    background-image: url('../images/background-theme.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-footer {
    text-align: center;
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-weight: bolder;
    color: white !important;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.card-row {
    background-image: url('../images/background-theme.jpg');
    background-repeat: repeat;
    background-size: contain;
}

.card {
    color: gray;
    font-weight: bolder !important;
}

.card-title {
    font-size: 24px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.card-grade {
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.card-grade.bad {
    font-size: 20px;
    color: red;
}

.card-grade.medium {
    font-size: 22px;
    color: grey;
}

.card-grade.good {
    font-size: 24px;
    color: yellowgreen;
}

.card-grade.great {
    font-size: 30px;
    color: green;
}

.logo {
    max-width: 50px;
}

.park-content {
    background-image: url('../images/background-theme.jpg');
    background-repeat: repeat;
    background-size: contain;
    padding-bottom: 70px;
}

.park-card-title {
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.btn-install {
    color: black;
    font-weight: bold;
    background-color: white;
}